@import "colours.css";

* {
    font-size: 14px;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
}

window#waybar {
    background-color: alpha(@surface, 0.93);
    color: @on_surface;
}

.modules-left {
    padding-left: 14px;
}

.modules-right {
    padding-right: 14px;
}

#workspaces button {
    all: unset;
    padding: 0 14px;
    color: alpha(@on_surface_variant, 0.60);
}

#workspaces button.active {
    color: @primary;
    font-weight: 600;
}

#workspaces button:hover {
    color: @on_surface;
}

#custom-clock {
    color: @secondary;
    padding: 0 5px;
}

#custom-tray-toggle {
    padding: 0 6px;
}

#network,
#custom-nightlight,
#group-tray-drawer
#custom-tray-toggle,
#pulseaudio {
    padding: 0 10px;
}

#battery.charging {
    color: @primary;
}

#battery.critical {
    color: @error;
}

#custom-tray-toggle {
    color: #cec2db;
    font-weight: bold;
}