/* Strip all default GTK theming */
* {
    background-image: none;
    box-shadow: none;
}

/* Background overlay (Translucent Charcoal) */
window {
    background-color: rgba(26, 26, 28, 0.90);
}

/* Base button matching the Rofi alternating row color */
button {
    border-radius: 0px;
    border: 2px solid #49454e;
    color: #8a8a93;
    background-color: #212124;
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    transition: all 0.2s ease-in-out;
}

/* Hover state matching the Rofi selection bar (Steel Blue & Lavender) */
button:focus, button:active, button:hover {
    background-color: #3d4c57;
    border: 2px solid #cec2db;
    color: #ffffff;
    outline-style: none;
}

/* Map the standard system icons */
#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }